<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        </main>
    
    <footer class="mt-auto border-top">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-linkedin"></i>
            </div>
            <div class="f-info-brand">
                &copy;WonderLust Private Limited
            </div>
            <div class="f-info-links d-flex justify-content">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>